aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
asttokens==3.0.1
asyncpg==0.31.0
attrs==25.4.0
banks==2.4.1
beautifulsoup4==4.14.3
blis==1.3.3
catalogue==2.0.10
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
cryptography==44.0.3
cymem==2.0.13
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
distro==1.9.0
executing==2.2.1
fastapi==0.128.0
filelock==3.20.1
filetype==1.2.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2025.12.0
gliner==0.2.24
greenlet==3.3.1
griffe==2.0.0
griffecli==2.0.0
griffelib==2.0.0
grpcio==1.76.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
hyperframe==6.1.0
idna==3.11
iniconfig==2.3.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpickle==4.1.1
jsonpointer==3.0.0
ko_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_lg-3.8.0/ko_core_news_lg-3.8.0-py3-none-any.whl#sha256=f703b419511ebbbe2812728708fb2dac8a6ed767871a18e87e29ce9444ead3d3
langchain-core==1.2.6
langchain-openai==1.1.6
langgraph==1.0.5
langgraph-checkpoint==3.0.1
langgraph-checkpoint-redis==0.3.2
langgraph-checkpoint-sqlite==3.0.3
langgraph-prebuilt==1.0.5
langgraph-sdk==0.3.1
langsmith==0.6.0
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.15
llama-index-cli==0.5.3
llama-index-core==0.14.15
llama-index-embeddings-openai==0.5.1
llama-index-graph-stores-neo4j==0.5.2
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-openai==0.6.21
llama-index-readers-file==0.5.6
llama-index-readers-llama-parse==0.5.1
llama-index-vector-stores-qdrant==0.10.0
llama-index-workflows==2.15.0
llama-parse==0.6.54
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib-inline==0.2.1
ml_dtypes==0.5.4
mpmath==1.3.0
multidict==6.7.1
murmurhash==1.0.15
mypy_extensions==1.1.0
neo4j==5.28.3
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.3
numpy==2.4.0
onnxruntime==1.23.2
openai==2.14.0
orjson==3.11.5
ormsgpack==1.12.1
packaging==25.0
pandas==2.3.3
parso==0.8.6
phonenumbers==9.0.22
pillow==12.1.1
platformdirs==4.9.2
pluggy==1.6.0
ply==3.11
portalocker==3.2.0
preshed==3.0.12
presidio_analyzer==2.2.360
presidio_anonymizer==2.2.360
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.5
pure_eval==0.2.3
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
pypdf==6.7.4
pyreadline3==3.5.4
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
python-ulid==3.1.0
pytz==2025.2
pyvis==0.3.2
PyYAML==6.0.3
qdrant-client==1.16.2
redis==7.1.0
redisvl==0.13.2
regex==2025.11.3
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
safetensors==0.7.0
sentencepiece==0.2.1
setuptools==80.9.0
six==1.17.0
smart_open==7.5.0
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.46
sqlite-vec==0.1.6
srsly==2.5.2
stack-data==0.6.3
starlette==0.50.0
striprtf==0.0.26
sympy==1.14.0
tenacity==9.1.2
thinc==8.3.10
tiktoken==0.12.0
tinytag==2.2.0
tldextract==5.3.1
tokenizers==0.22.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.3
typer-slim==0.21.1
types-cffi==1.17.0.20250915
types-pyOpenSSL==24.1.0.20240722
types-redis==4.6.0.20241004
types-setuptools==80.10.0.20260124
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
uuid_utils==0.12.0
uvicorn==0.40.0
wasabi==1.1.3
wcwidth==0.6.0
weasel==0.4.3
wrapt==1.17.3
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
